@import '../login/login.component.scss'; // reuse same styles

.btn-success {
  width: 100%;
  padding: 12px;
  border-radius: 25px;
  border: none;
  background: linear-gradient(135deg, #198754, #20c997);
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;

  &:hover {
    transform: translateY(-1px);
    box-shadow: 0 10px 20px rgba(25,135,84,.3);
  }
}
